@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using MudBlazor;

<MudCard Style="width: 150px; height: 150px" Class="m-2 p-2">
    <h3>Counter</h3>
    <p>Current count: @CurrentCount</p>
    <MudButton OnClick="IncrementCount">Click me</MudButton>
</MudCard>

@code {
    [Parameter]
    public int CurrentCount { get; set; } = 0;

    private void IncrementCount()
    {
        CurrentCount++;
    }
}